label {
    display: initial;
    font-size: 12px;
    color: #777;
}
.col-md-6 > form {
    width: 100%;
}
span.d-inline-flex {
    margin-right: 20px;
}
div.border-bottom {
    min-height: 50px;
}
div.border-bottom span {
    top: 11px;
}
div.form-group {
    top: 10px;
}
.desktop-form div.border-bottom:hover {
    background-color: #f5f5fa;
}
.desktop-form div.profile-item:hover {
    cursor: pointer;
}
.desktop-form div.border-bottom i {
    margin-left: 16px;
    color: #aaa;
}
.desktop-form div.border-bottom:hover i {
    display: inline-block !important;
}

.form-row div.col-md-2 {
    position: relative;
    top: 7px;
    right: 0px;
}

button.close {
    font-size: 32px;
    margin-left: 16px;
}

span.img-span {
    position: relative;
    top: -50px !important;
}
#profile-picture {
    margin: 20px 0px;
    width: 120px;
    height: 120px;
}
.desktop-form span.combodate select {
    display: inline-flex;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.mobile-form span.combodate select {
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #ced4da;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    background-color: transparent;
    color: #999;
}


@media (max-width: 767px) {
    .desktop-form, .settings-sidebar, div.position-fixed {
        display: none;
    }
}

@media (min-width: 768px) {
    .mobile-form {
        display: none;
    }
}