.overlay {
  z-index: 9999;
  position: fixed;
  left: 280px;
  width: calc(100vw - 280px);
  top: 0;
  height: 100vh;
  background-color: black;
  opacity: 0;
  display: none;
}

.dropdown-item {
  width: initial;
}
.col-md-6 {
    margin: 1% auto 0;
    width: 100%;
}

.col-md-6 .social-button {
    margin: 20px auto;
}

.nav header.header {
    width: 100%;
    height: 0px;
}

.nav header.header nav img {
    display: inline-block;
    height: 50px;
    position: absolute;
    z-index: 100;
    left: 50%;
    margin-left: -70px
}

#first-img {
    position: relative;
    min-height: 350px;
    background: url("http://lewisking.net/images/header-image.jpg") no-repeat scroll 0px 100% / cover transparent;
}

li.dropdown {
  position: absolute;
  right: 20px;
  margin-top: -7px;
}
li.dropdown div.dropdown-menu {
  top: 58px;
  left: -52px;
  border-radius: 0 0 0 .25rem;
}

.navbar .nav-item a img {
  max-height: 50px;
  padding-right: 5px;
  margin-top: -3px;
}

#feed, #profile {
  padding: 54px 0 0 0;
  height: 100%;
}

section.my-5 {
  display: none;
}

section.my-5 > .row {
  margin-top: -50px;
  height: 100%;
}

section.my-5 > .row .card-body {
  background-color: #f5f5f5;
}

section.my-5 > .row .card-body .content {
  display: inline-block;
  line-height: 2em;
  
}

section.my-5 > .row img {
  width: 50%;
  max-width: 80px;
  float: left;
}
section.my-5 > .row .content #name {
  font-weight: bold;
  padding-bottom: 10px;
}
section.my-5 > .row .card {
  box-shadow: none;
  -webkit-box-shadow: none;
}
section.my-5 > .row .card li a {
  padding: 10px;
}

  
  
@media (max-width: 767px) {
  .overlay {
    display: initial;
  }
  .navbar > ul.navbar-nav li.dropdown {
    display: none;
  }

  #feed .row .col-md-3 {
    display: none;
  }

  section.my-5 {
      display: initial;
  } 
    
  .navbar-collapse {
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: 100vh;
    background: #fff;
  }

  .navbar-dark .navbar-nav .nav-link {
    color: #333;
    font-size: 1.25em;
  }


  .navbar-collapse.collapsing {
    height: 100vh;
    -webkit-transition: left 0.1s ease;
    -o-transition: left 0.1s ease;
    -moz-transition: left 0.1s ease;
    transition: left 0.1s ease;
    left: -100%;
  }

  .navbar-collapse.show {
    left: 0;
    -webkit-transition: left 0.1s ease-in;
    -o-transition: left 0.1s ease-in;
    -moz-transition: left 0.1s ease-in;
    transition: left 0.1s ease-in;
  }
    
  .navbar > ul.navbar-nav li {
    padding: 0 10px;
    display: none;
  }

  .navbar > ul.navbar-nav li.active {
    display: initial;
  }

  

  .navbar-dark .navbar-nav .active>.nav-link {
    background-color: initial;
  }

  .navbar-dark .navbar-nav .dropdown>.nav-link {
    background-color: initial;
  }
}
    
.navbar > ul.navbar-nav  {
  flex-direction: initial;
}
.fa-video:before, .fa-comments:before, .fa-bicycle:before {
  margin-right: 4px;
}
    
    
.overlay-darken {
  animation: animation-overlay-darken;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}
    
.overlay-lighten {
  animation: animation-overlay-lighten;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}

@keyframes animation-overlay-darken {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes animation-overlay-lighten {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}

  /*This is where the feed begins*/
  #feed .row {
    margin: 0px;
    padding: 0px;
  }

  #feed .row .col-md-3 .position-fixed {
    box-sizing: border-box;
    height: 45vw;
    padding: 10px 25px 10px 10px;;
  }
  #feed .row .col-md-6 {
    height: 2000px;
    padding: 10px 0 0 0;

  }
  
  .feed-entry {
    margin: 10px auto 20px;
    padding: 8px;
  }
  .entry-header {
    display: inline-flex;
    margin: 2px 0;
  }
  .entry-header .post-name {
    padding-left: 15px;
    font-weight: 700;
  }
  .entry-header .timestamp {
    font-size: 11px;
    padding-left: 8px;
    color: #666;
  }
  .avatar img {
    max-width: 50px;
  }
  .entry-body {
    padding: 4px;
    margin-top: 4px;
  }
  .entry-body h4 {
    font-size: 14px;
  }
  .entry-body p {
    font-size: 12px;
  }
  .entry-footer {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
  }
  
  @media all and (max-width: 1024px) and (min-width: 768px) {
    #feed .row .col-md-6 {
      flex: 0 0 65% !important;
      max-width: 65% !important;
    }
  }
/*--Index ( feed page) ends here--*/  



/* profile page starts here */

.profile-page > #profile > .details {
  padding: 20px;
}

.profile-page > #profile .details .profile-data {
  max-width: 500px;
}
.profile-page > #profile .details .profile-data .profile-avatar {
  display: inline-block;
  margin: 0 auto;
  margin-left: 70px;
}
li.nav-item > a.lead {
  font-size: 1.8em;
}
.img-thumbnail {
  max-width: 15%;
}
li.editprofile {
  position: absolute;
  right: 20px;
  margin-top: -7px;
}
/* profile page ends */

/* edit profile page */

#container {
  margin-top: 100px;
}

/* edit profile page ends */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


